[init]
	defaultBranch = main
[user]
	email = sross@qpq.io
	name = Skyler R Ross
	signingkey = DAC2AF0BDCBA9EF2
[pull]
	rebase = true
[commit]
	gpgSign = true
[core]
	attributesfile = /Users/sross/.gitattributes
